@charset "utf-8";

p {
    text-indent: 50px;
    text-align: justify;
}

figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}



figure.foto-legenda figcaption {
    opacity: 0;
    top: 0px;

    position: absolute;
    box-sizing: border-box;
    color: white;
    background-color: rgba(0, 0, 0, .4);

    width: 100%;
    /*tem que ser 100% para pegar todo o container*/
    height: 100%;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
}


nav#menu ul {
    position: absolute;
    display: block;
    list-style: none;
    text-transform: uppercase;
    padding: 10px;
    margin: 2px;
    color: white;
    top: 0px;
    left: 300px;

}

nav#menu li {
    display: inline-block;
    background-color: cadetblue;
    margin: 10px;
}

nav#menu li:hover {
    background-color: aquamarine;
}
